In [1]:
data = [[23, 3213], [21, 2089], [25, 2253], [18, 1801], [13, 801], [16, 1934], [13, 1720], [17, 1514], [12, 1017]]

In [2]:
import pandas as pd

df = pd.DataFrame(data, columns=['Temps', 'Takings'])

In [4]:
df.head(10)

   Temps  Takings
0     23     3213
1     21     2089
2     25     2253
3     18     1801
4     13      801
5     16     1934
6     13     1720
7     17     1514
8     12     1017

In [5]:
df.describe()

           Temps      Takings
count   9.000000     9.000000
mean   17.555556  1815.777778
std     4.639804   707.133435
min    12.000000   801.000000
25%    13.000000  1514.000000
50%    17.000000  1801.000000
75%    21.000000  2089.000000
max    25.000000  3213.000000

In [7]:
from statsmodels.formula.api import ols

model = ols('Takings ~ Temps', df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Takings   R-squared:                       0.657
Model:                            OLS   Adj. R-squared:                  0.608
Method:                 Least Squares   F-statistic:                     13.42
Date:                Mon, 29 Mar 2021   Prob (F-statistic):            0.00804
Time:                        09:21:57   Log-Likelihood:                -66.475
No. Observations:                   9   AIC:                             136.9
Df Residuals:                       7   BIC:                             137.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -353.1148    610.267     -0.579      0.581   -1796.168    1089.938
Temps        123.5445     33.731      3.663      0.008      43.784     203.305
==============================================================================
Omnibus:                        0.983   Durbin-Watson:                   1.681
Prob(Omnibus):                  0.612   Jarque-Bera (JB):                0.765
Skew:                           0.541   Prob(JB):                        0.682
Kurtosis:                       2.067   Cond. No.                         75.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\joaki\anaconda3\lib\site-packages\scipy\stats\stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "